{% extends "layoutsign.html" %}
{% block content %}
  <div class="signup-section-logsign">
    <div class="logo-logsign">
        <a href="{{ url_for('index') }}"><img src="static/img/logo1-all - inv2.png"></a>

    </div>
    <div class="name-logsign">
    <h2>Reset Password</h2>
    </div>

    <div class="section-content-logsign">

      <form method="POST" action="/resetpassword" onkeypress="" novalidate>
        {{ form.hidden_tag() }}

        <div class="form-group">
          {% if message %}
                  <div class=error-message><p>{{ message }}</p>
                  </div>
          {% endif %}
        <label>Email address</label>

          {{ form.email }}
        </div>


        <div class="button-login">
        {{ form.submit(class="btn-primary") }}
        </div>
      </form>
    </div>
    <div class="section-content-logsign">
      <h4>back to:  <a href="{{ url_for('index') }}" >  home page.</a></h4>
    </div>
  </div>

{% endblock %}
